* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.datepicker-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border: solid 1px #ccc;
}

.datepicker-input input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.datepicker-input img {
  width: 30px;
  cursor: pointer;
}

.calendar {
  width: 300px;
}

.calendar-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #ccc;
  margin-bottom: 10px;
}

.arrows {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.calendar-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: solid 1px #ccc;
}

.calendar-weekdays {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: solid 1px #ccc;
    text-align: center;
}

.calendar-days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  text-align: center;   
}

.calendar-days span {
    border: solid 1px #ccc;
}

.calendar-days span:hover {
    background-color: #ccc;
    cursor: pointer;
}
